[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-openzwave = "*"
#asyncio-nats-client= "*"
nats-python = "*"
[dev-packages]

[requires]
python_version = "3.7"
